<div class="container">
  <mat-card class="contact-details">
    <mat-card-header>
      <mat-card-title>Detailansicht:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem"> Boxentype: {{ contract.type }} </mat-list-item>
        <mat-list-item role="listitem"> Boxnummer: {{ contract.boxNr }}</mat-list-item>
        <mat-list-item role="listitem"> Building Information: {{ contract.buildingInfo }}</mat-list-item>
        <mat-list-item role="listitem"> Miet Startdatum:{{ contract.contractStartDate | date : "dd-MM-y" }} </mat-list-item>
        <mat-list-item role="listitem"> Miet Enddatum: {{ contract.contractEndDate | date : "dd-MM-y"}} </mat-list-item>
        <mat-list-item role="listitem"> Aktuell Laufzeit in Monaten: <b>{{ contract.runningTime }}</b> </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <a mat-raised-button color="warn"  [routerLink]="['/contract-edit']" [queryParams]=" { idContract: contract.id, idContact: idContact }">EDIT</a>
        <a mat-raised-button color="warn"  [routerLink]="['/contract']" [queryParams]=" { idContract: contract.id, idContact: idContact }">BACK</a>
        <button mat-raised-button color="primary"  type="button" (click)="deleteContract(idContact, contract.id, contract)">DELETE</button>
    </mat-card-actions>
  </mat-card>
  </div>