<div class="container">
  <h1>Detailansicht:</h1>
  <dl class="list">
    <dt>Boxentype:</dt>
    <dd>{{ contract.type }}</dd>      
    <dt>Boxnummer:</dt>
    <dd>{{ contract.boxNr }}</dd>
    <dt>Building Information:</dt>
    <dd>{{ contract.buildingInfo }}</dd>
    <dt>Miet Startdatum:</dt>
    <dd>{{ contract.contractStartDate }}</dd>
    <dt>Miet Enddatum:</dt>
    <dd>{{ contract.contractEndDate }}</dd>
  </dl>
  <div class="row">
    <div class="col-md-12">
      <a [routerLink]="['/contract-edit']" [queryParams]=" { idContract: contract.id, idContact: idContact }" class="btn btn-success">EDIT</a>
      <button class="btn btn-danger" type="button" (click)="deleteContract(idContact, contract.id, contract)">DELETE</button>
      <a [routerLink]="['/contract']" [queryParams]=" { idContract: contract.id, idContact: idContact }" class="btn btn-danger">BACK</a>
    </div>
  </div>
</div>