<div class="container">
  <h1>Contract Liste von: {{contact.name}}
    <a [routerLink]="['/contract-create']"  [queryParams]=" { idContact: contact.id }" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
    <a [routerLink]="['/contact']" class="btn btn-danger">BACK</a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>Art des Mietobjekts:</th>
        <th>Boxennummer:</th>
        <th>Informationen zum Gebäude:</th>
        <th>Startmietdatum:</th>
        <th>Endmietdatum:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contract of contact.contracts">
        <td>{{ contract.type }}</td>
        <td>{{ contract.boxNr }}</td>
        <td>{{ contract.buildingInfo }}</td>
        <td>{{ contract.contractStartDate }}</td>
        <td>{{ contract.contractEndDate }}</td>
        <td><a [routerLink]="['/contract-detail']" [queryParams]=" { idContract: contract.id, idContact: contact.id } " >Show Detail</a></td>
    </tr>
      </tbody>
  </table>
</div>  
