<div class="container">
  <h1>Contract Liste von: {{contact.name}}
    <div class="buttion-row">
      <a mat-raised-button color="accent" [routerLink] = "['/contract-create']" [queryParams]=" { idContract: idContract, idContact: idContact }" >Neuer Vertrag hinzufügen</a>
      <a mat-raised-button color="warn" [routerLink]="['/contact']" >BACK</a>
    </div>
    
  </h1>
  <table mat-table [dataSource] = "contact.contracts" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef ="type">
          <th mat-header-cell *matHeaderCellDef> Art des Mietobjekts </th>
          <td mat-cell *matCellDef ="let element"> {{element.type}} </td>
      </ng-container>
      <ng-container matColumnDef ="boxNr">
          <th mat-header-cell *matHeaderCellDef> Boxennummer </th>
          <td mat-cell *matCellDef ="let element"> {{element.boxNr}} </td>
      </ng-container>
      <ng-container matColumnDef ="buildingInfo">
          <th mat-header-cell *matHeaderCellDef> Informationen </th>
          <td mat-cell *matCellDef ="let element"> {{element.buildingInfo}} </td>
      </ng-container>     
      <ng-container matColumnDef ="contractStartDate">
          <th mat-header-cell *matHeaderCellDef> Startmietdatum </th>
          <td mat-cell *matCellDef ="let element"> {{element.contractStartDate}} </td>
      </ng-container>
      <ng-container matColumnDef ="contractEndDate">
          <th mat-header-cell *matHeaderCellDef> Endmietdatum </th>
          <td mat-cell *matCellDef ="let element"> {{element.contractEndDate}} </td>
      </ng-container>
      <ng-container matColumnDef ="contractDetails">
        <th mat-header-cell *matHeaderCellDef> Contract Details</th>
        <td mat-cell *matCellDef ="let element"> <a [routerLink]="['/contract-detail']" [queryParams]="{ idContract: idContract, idContact: idContact }" >Show Detail</a></td>
      </ng-container>
      <ng-container matColumnDef ="addProducts">
        <th mat-header-cell *matHeaderCellDef> Contract Details</th>
        <td mat-cell *matCellDef ="let element"> <a [routerLink]="['/product']" [queryParams]="{ idContract: idContract, idContact: idContact }" >Add Product</a></td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef ="displayedColumns"></tr>
    <tr mat-row *matRowDef ="let row; columns: displayedColumns;"></tr>    
  </table>
</div>  
