<div class="container">
  <h1>{{ contact.anrede }}  {{ contact.name }}</h1>
  <dl class="list">
    <dt>Address</dt>
    <dd>{{ contact.address }}</dd>
    <dt>City</dt>
    <dd>{{ contact.city }}</dd>
    <dt>Phone</dt>
    <dd>{{ contact.phone }}</dd>
    <dt>Email</dt>
    <dd>{{ contact.email }}</dd>
  </dl>
 <div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/contact-edit']" [queryParams]=" { idContact: idContact }" class="btn btn-success">EDIT</a>
    <button class="btn btn-danger" type="button" (click)="deleteContact(idContact)">DELETE</button>
    <a [routerLink]="['/contact']" class="btn btn-danger">BACK</a>
  </div>
</div>
</div>